.table-one {
    width: 100%;
    border: 1px solid #1b77da;
}

.table-one > tbody > tr > td, .table-one > thead > tr > td {
    border: 1px solid #1b77da;
    min-height: 50px;
    padding: .5em;


}

.add-button{
    font-size: bold;
    float: right;
    margin: 10px;
}

.new-form{
    background-color: rgb(144, 114, 224);
}

.align-right{
    align: right;
}