.app-container-grid {
  display: grid;
  /* grid-template-columns: 3fr 6fr 3fr; */
  grid-template-rows: 1fr 4fr 1fr;
  height: 100vh;
}

/* .main-header, 
.main-footer {
  background-color: #e6e363;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
} */
/* .main-header, .main-container-grid, .main-footer {
  grid-column: 1 / 4;
} */

/* .main-container-grid {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
} */
/* .align-center{
  margin: 15px;
  border: 1px dashed rgb(221, 20, 20);
} */